<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="withus.ex.mapper.LetterMapper">
	<!-- 상품 메인 -->
	<select id="selectLeList" resultMap="selectLeList">
	<![CDATA[
		select * from withus_letter l, withus_image i
		where l.wid = i.wid
	]]>
	</select>

	<!-- 상품 상세 페이지 -->
	<select id="selectLeInfo" resultMap="selectLeInfo">
        <![CDATA[
        SELECT * FROM withus_letter l, withus_image i 
        WHERE l.wid = i.wid and l.wid = #{wid}
        ]]>
	</select>
	
	<!-- 페이징 -->
	<select id="getTotalCount" resultType="int">
      <![CDATA[
          select count(*) from withus_letter
      ]]>
	</select>
	
	<select id="getListLePaging" resultType="withus.ex.vo.LetterVO">
      <![CDATA[
        SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             withus_letter
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	
	<resultMap id="imgMap" type="withus.ex.vo.LetterImgVO">
		<result property="uuid" column="uuid" />
		<result property="wid" column="wid" />
		<result property="filename" column="filename" />
		<result property="uploadpath" column="uploadpath" />
	</resultMap>
	
	<resultMap id="selectLeList" type="withus.ex.vo.LetterVO">
		<id property="wid" column="wid" />
		<result property="wname" column="wname" />
		<result property="wprice" column="wprice" />
		<result property="wdetailed" column="wdetailed" />
		<collection property="imgList" resultMap="imgMap"></collection>
	</resultMap>
	
	<resultMap id="selectLeInfo" type="withus.ex.vo.LetterVO">
		<id property="wid" column="wid" />
		<result property="wname" column="wname" />
		<result property="wprice" column="wprice" />
		<result property="wdetailed" column="wdetailed" />
		<collection property="imgList" resultMap="imgMap"></collection>
	</resultMap>
	
	

</mapper>