<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="withus.ex.mapper.OrderMapper">

	<!-- 주문 상품 정보 -->
	<select id="getGoodsInfo" resultType="withus.ex.vo.OrderPageItemVO">
        <![CDATA[
        select p.order_itemnumber, 
        p.wid, 
        l.wname, 
        l.wprice, 
        p.wcount, 
        l.wprice*p.wcount as total_price,
        p.onumber 
		from withus_orderitem p, withus_letter l 
		where p.wid = l.wid
        ]]>
	</select>	
	
		<insert id="insertItem" parameterType="withus.ex.vo.OrderVO">
        <![CDATA[
            INSERT INTO withus_orderitem (
                order_itemnumber,
                wid,
                wcount,
                onumber
            )
            VALUES (
                #{order_itemnumber},
                #{wid},
                #{wcount},
                #{onumber}
            )
        ]]>
	</insert>

	<!-- 페이징 -->
	<select id="getTotalCount" resultType="int">
      <![CDATA[
          select count(*) from withus_letter
      ]]>
	</select>
	
	<select id="getOrderPaging" resultType="withus.ex.vo.OrderPageItemVO">
      <![CDATA[
        SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             withus_orderitem
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
	</select>
	

	
</mapper>